$primary: #202020;
$orange: #d06953; //
$accent: #a1251e; //
$secondary: #121212;
$white: #fff; //
$red: #ed3024;
$blue: #6489e7;
$black: #000000; //
$light-grey: #e2e3e2;
$grey: #b2aba9;
$oldlace: #e4e0d7;

$width-content: 1270px; //

// $z-index-sidebar: 100;
$z-index-header: 100;
// $z-index-madal: 200;
$z-index-load: 200;

// $sidebar-width: 300px;

// $tablet-size: 991px;
// $mobile-size: 768px;

$large-size: 991px;
$medium-size: 768px;
$small-size: 576px;
