.breadcrumb {
  display: flex;
  &__item {
    margin-right: 2rem;
    position: relative;
    color: $black;
    font-size: 1.4rem;
    &.active {
      color: $light-grey;
    }
    &:not(:last-child):before {
      content: '\002F';
      position: absolute;
      right: -1.3rem;
    }
  }
  &__link {
    color: inherit;
  }
}
