.cart-button {
  height: 34px;
  position: relative;
  transition: 0.3s;
  border-radius: 40px;
  background-color: transparent;
  padding: 0 13px;
  color: $black;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  &:hover {
    background-color: $light-grey;
  }
  &__icon {
    width: 20px;
    height: 24px;
    margin-right: 10px;
  }
  &__count {
    position: absolute;
    line-height: 1.3;
    top: 7px;
    left: 7px;
    font-size: 10px;
    height: 13px;
    width: 13px;
    color: $white;
    background-color: $accent;
    border-radius: 50%;
    text-align: center;
  }
  &__total-price {
    font-weight: bold;
  }
}
