.contacts {
  margin-top: 2rem;
  margin-bottom: 20rem;
  height: 49rem;
  background-image: url('../images/contacts/contacts-bg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  @include breakpoint(690px) {
    margin-bottom: 30rem;
  }
  &__block {
    box-shadow: 0 5px 15px rgba($color: $black, $alpha: 0.2);
    background-color: $white;
    padding: 6rem;
    max-width: 83rem;
    position: absolute;
    top: 10rem;
    left: 15%;
    right: 15%;
    overflow: hidden;
    @include breakpoint($large-size) {
      right: 3rem;
      left: 3rem;
    }
    @include breakpoint(820px) {
      padding: 6rem 3rem;
    }
    @include breakpoint($small-size) {
      right: 0;
      left: 0;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include breakpoint(690px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__list {
    flex-basis: 27rem;
    @include breakpoint(690px) {
      flex-basis: auto;
      max-width: 37rem;
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__link {
    color: $black;
  }
  &__icon {
    margin-right: 0.6rem;
  }
  &__form {
    flex-basis: 27rem;
    @include breakpoint(690px) {
      flex-basis: auto;
    }
  }
}
