.footer {
  background-color: $light-grey;
  margin-top: auto;
  overflow: hidden;
  &__container {
    max-width: $width-content;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    @include breakpoint(820px) {
      flex-wrap: wrap;
    }
  }
  &__logo {
    max-width: 9.5rem;
    max-height: 5.7rem;
  }
  &__title {
    display: block;
    margin-bottom: 1rem;
  }
  &__link {
    display: block;
    color: $black;
  }
  &__button {
    margin-bottom: 1rem;
  }
  &__nav,
  &__address,
  &__telephone,
  &__payment {
    margin-right: 2rem;
    @include breakpoint(820px) {
      flex-basis: 50%;
      margin-bottom: 2rem;
      margin-right: 0;
    }
    @include breakpoint(540px) {
      flex-basis: 100%;
      text-align: center;
    }
  }
}
