@mixin chevron-right {
  content: '\276F';
  position: absolute;
  right: -4.25rem;
  bottom: 50%;
  transform: translateY(50%);
  color: #c5c5c5;
  font-size: 1.8rem;
  @include breakpoint(815px) {
    right: -2.8rem;
  }
  @include breakpoint(550px) {
    right: 49%;
    transform: rotate(90deg) translate(50%, 0);
    bottom: -2.8rem;
  }
}

.method-of-work {
  &__title {
    margin-bottom: 3rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    background-color: $white;
    flex-basis: 18%;
    position: relative;
    box-shadow: 0px 7px 24px 0px rgba(75, 64, 64, 0.2);
    padding: 2rem;
    margin-top: 9rem;
    margin-right: 8.5rem;
    &:nth-child(4),
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(-n + 3):before,
    &:nth-child(n + 5):nth-child(-n + 6):before {
      @include chevron-right;
    }
    @include breakpoint($small-size) {
      padding: 3rem 4rem;
    }
    @include breakpoint(1030px) {
      flex-basis: 25%;
      margin-top: 8rem;
      &:nth-child(3) {
        margin-right: 0;
        &:before {
          opacity: 0;
        }
      }
      &:nth-child(4) {
        margin-right: 8.5rem;
        &:before {
          @include chevron-right;
        }
      }
      &:nth-child(6) {
        margin-right: 0;
        &:before {
          opacity: 0;
        }
      }
    }
    @include breakpoint(815px) {
      margin-right: 5rem;
      &:nth-child(4) {
        margin-right: 5rem;
      }
    }
    @include breakpoint(720px) {
      flex-basis: 45%;
      padding: 2rem 1rem;

      &:nth-child(3) {
        margin-right: 5rem;
        &:before {
          opacity: 1;
        }
      }
      &:nth-child(2) {
        margin-right: 0;
        &:before {
          opacity: 0;
        }
      }
      &:nth-child(4) {
        margin-right: 0;
        &:before {
          opacity: 0;
        }
      }
      &:nth-child(6) {
        margin-right: 0;
        &:before {
          opacity: 0;
        }
      }
    }
    @include breakpoint(550px) {
      flex-basis: 30rem;
      margin-top: 7rem;
      padding: 2rem 1rem;
      margin-right: 0;
      &:nth-child(even) {
        margin-right: 0;
        &:before {
          @include chevron-right;
        }
      }

      &:nth-child(2) {
        margin-right: 0;
        &:before {
          opacity: 1;
        }
      }
      &:nth-child(3) {
        margin-right: 0;
        &:before {
          opacity: 1;
        }
      }
      &:nth-child(4) {
        margin-right: 0;
        &:before {
          opacity: 1;
        }
      }
      &:nth-child(6) {
        margin-right: 0;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &__icon {
    max-width: 6.5rem;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 4px 22px 0px rgba(#d06953, 0.3);
  }
  &__text {
    margin-top: 5rem;
    text-align: center;
    line-height: 1.2;
  }
  &__description {
    max-width: 54rem;
    text-align: center;
    margin: 6rem auto;
  }
}
