.overlay-menu {
  overflow: hidden;
  z-index: 200;
  position: fixed;
  background-color: $oldlace;
  top: -100%;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: top 0.4s ease-in, opacity 0.3s ease-in;
  overflow: auto;
  #burgerMenu {
    display: block;
    margin-bottom: 4rem;
    margin: 2rem auto 4rem;
  }
  &__close {
    height: 60px;
    width: 60px;
    border: 1px solid $black;
    border-radius: 50%;
  }
  &__nav {
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    &-block {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__item {
    margin-bottom: 3rem;
  }
  &__link {
    font-size: 2rem;
    white-space: nowrap;
  }
}
.active {
  top: 0;
  opacity: 1;
}
