.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;

  @include breakpoint($small-size) {
    margin-top: 3rem;
  }

  &__item {
    margin: 0 0.5rem;
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid $grey;
    font-size: 1.6rem;
    color: $grey;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    transition: background-color 0.2s ease-in;
    &:hover {
      background-color: $grey;
      color: $white;
      text-decoration: none;
    }
    &.active {
      background-color: $grey;
      color: $white;
    }
  }
}
