.production-list {
  margin-bottom: 9rem;
  &__top-title {
    margin-bottom: 6rem;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($small-size) {
      margin-bottom: 4rem;
    }
  }
  @include breakpoint($small-size) {
    margin-bottom: 6rem;
  }
  &__block {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    grid-gap: 3rem;

    @include breakpoint(860px) {
      margin: 0 1rem;
    }
    @include breakpoint(860px) {
      grid-template-columns: repeat(2, minmax(100px, 300px));
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      grid-gap: 3rem;
      max-width: 50rem;
      padding: 0 1rem;
      margin: 0 auto;
    }
    @include breakpoint(470px) {
      grid-template-columns: minmax(100px, 300px);
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;
      max-width: 30rem;
      margin: 0 auto;
    }
  }
  &__item {
    z-index: 0;
    &:hover {
      z-index: 10;
    }
  }
  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
