.production-card {
  $self: &;
  max-width: 27rem;
  position: relative;
  z-index: 10;
  &__link {
    width: 100%;
    display: block;
  }
  &__image {
    width: 100%;
  }
  &__title {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__price {
    margin-top: 0.5rem;
    font-weight: 500;
  }
  &__description {
    line-height: 1.3;
  }
  &__wrapper {
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    border: 1px solid $grey;
    z-index: -10;
    opacity: 0;
    background-color: $white;
  }
  &__size {
    position: absolute;
    bottom: -43px;
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
    font-size: 1.2rem;
    overflow: hidden;
    button {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translate(-50%, -50%);
      img {
        max-width: 2.6rem;
      }
    }
  }
  &:hover {
    #{$self}__wrapper {
      opacity: 1;
      bottom: -55px;
    }
    #{$self}__size {
      opacity: 1;
      height: 40px;
    }
  }
}
.strikethrough-text {
  &__old-price {
    display: inline-block;
    position: relative;
    &:after {
      content: '';
      background-image: url('../images/strikethrough-text/line-241.png');
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 2px;
      z-index: 100;
    }
  }
  &__new-price {
    font-size: 1.8rem;
    color: $accent;
    font-weight: 500;
  }
}
