.search {
  position: relative;
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    right: 3px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  &__input {
    padding: 0.5rem 2rem 0.5rem 1.2rem;
  }
}
