.slider {
  width: 10rem;
  overflow: hidden;
  height: 66rem;
  margin-right: 2rem;
  position: relative;
  @include breakpoint(1030px) {
    height: 49.1rem;
  }
  @include breakpoint(930px) {
    order: 1;
    height: 10rem;
    max-width: 56rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include breakpoint(510px) {
    order: 1;
    height: 10rem;
    max-width: 56rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  &__item {
    margin-bottom: 1.5rem;
    max-width: 10rem;
    width: 100%;
    @include breakpoint(930px) {
      max-width: 7rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__image {
    width: 100%;
  }
  .prev {
    position: absolute;
    left: 0rem;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 23px;
    cursor: pointer;
  }
  .next {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 23px;
    cursor: pointer;
  }
  .slick {
    &-slide {
      position: relative;
      outline: none;
      cursor: grab;
      & > div {
        @include breakpoint(930px) {
          display: flex;
          align-items: center;
        }
      }
    }

    &-list {
      @include breakpoint(930px) {
        max-width: 50rem;
        width: 100%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-track {
      width: 100%;
      @include breakpoint(930px) {
        display: flex;
      }
    }
    &-dots {
      display: none;
    }
  }
}
.sliderbig {
  width: 44rem;
  overflow: hidden;
  height: 67.3rem;
  @include breakpoint(1030px) {
    width: 32rem;
    height: 49.1rem;
  }
  @include breakpoint(930px) {
    order: 0;
    height: 45rem;
    width: 30rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(520px) {
    order: 0;
    height: 35rem;
    width: 23.3rem;
  }

  &__image {
    padding: 0;
    width: 44rem;
    cursor: grab;
    @include breakpoint(1030px) {
      width: 33rem;
    }
    @include breakpoint(930px) {
      height: 45rem;
      width: auto;
    }
    @include breakpoint(520px) {
      height: 35rem;
      width: auto;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
    max-width: 45rem;
  }
  .slick-list {
    width: 100%;
    height: 100%;
  }
  .slick-slide {
    outline: none;
    margin: 0 1rem;
  }
}
