.stylish-uniform {
  display: flex;
  margin-top: 15rem;
  margin-bottom: 9rem;
  @include breakpoint($medium-size) {
    flex-direction: column;
  }
}
.for-girls {
  margin-right: 3rem;
  flex-basis: 47rem;
  @include breakpoint($medium-size) {
    order: 1;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
  }
  &__info {
    @include breakpoint($medium-size) {
      order: 0;
      margin-bottom: 3rem;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 8rem;
    margin-bottom: 3rem;
    @include breakpoint($medium-size) {
      margin-top: 5rem;
      margin-bottom: 1rem;
    }
  }
  &__text {
    margin: 3rem 0;
    font-size: 1.4rem;
    color: $black;
    @include breakpoint($medium-size) {
      margin: 1rem 0 2rem;
    }
  }
  &__image {
    width: 100%;
    @include breakpoint($medium-size) {
      width: 80%;
      order: 1;
    }
    @include breakpoint(400px) {
      width: 90%;
    }
  }
}

.stylish {
  position: relative;
  flex-basis: 67rem;
  @include breakpoint($medium-size) {
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
  }
  &:after {
    content: '';
    position: absolute;
    top: -4rem;
    right: -4rem;
    bottom: 35%;
    left: -20rem;
    background-color: #f5f3ee;
    z-index: -10;
  }
  &__title {
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    @include breakpoint($medium-size) {
      margin-bottom: 1rem;
    }
  }
  &__text {
    margin: 3rem 0;
    font-size: 1.4rem;
    color: $black;
    @include breakpoint($medium-size) {
      margin: 1rem 0 2rem;
    }
  }
  &__info {
    padding: 7rem 0;
    @include breakpoint($medium-size) {
      padding: 0 0 4rem;
    }
  }
  &__image {
    margin-top: 6rem;
    width: 100%;
    @include breakpoint($medium-size) {
      width: 80%;
      margin-top: 0;
    }
    @include breakpoint(400px) {
      width: 90%;
    }
  }
}
