.uniform {
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 7rem;
  &__title {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
  }
  &__block {
    display: flex;
    overflow: hidden;
    @include breakpoint(910px) {
      flex-direction: column;
    }
  }
}

.inside-block {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  background-color: rgba($color: $white, $alpha: 0.7);
  text-align: center;
  padding: 2rem;
  @include breakpoint($small-size) {
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: $black;
    margin-bottom: 1rem;
  }
  &__price {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    &--top {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
}

.blouse {
  position: relative;
  margin-right: 3rem;
  flex-basis: 47rem;
  height: 71.5rem;
  background-image: url('../images/uniform/blouse.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  &__description {
    position: absolute;
    top: 30%;
    right: 10%;
    max-width: 11rem;
    font-weight: 500;
    line-height: 1.4;
    font-size: 1.6rem;
    @include breakpoint(910px) {
      top: 10%;
    }
  }
  @include breakpoint(1050px) {
    flex-basis: 57rem;
    height: 51.5rem;
  }
  @include breakpoint(910px) {
    width: 100%;
    margin-bottom: 3rem;
    flex-basis: 40rem;
  }
}

.pants-whole {
  height: 71.5rem;
  flex-basis: 67rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @include breakpoint(1050px) {
    flex-basis: 57rem;
    height: 51.5rem;
  }
  @include breakpoint(910px) {
    flex-direction: column;
    flex-basis: 61.5rem;
  }
}
.pants {
  flex-grow: 4;
  position: relative;
  margin-bottom: 30px;
  background-image: url('../images/uniform/pants.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  &__inside {
    max-width: 30rem;
    @include breakpoint($small-size) {
      left: 0;
      bottom: 0;
      top: 0;
      max-width: 25rem;
    }
  }
  @include breakpoint(1050px) {
    flex-grow: 4;
  }
}
.whole-works {
  flex-grow: 3;
  width: 100%;
  background-image: url('../images/uniform/whole-works.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  &__inside-block {
    max-width: 40rem;
    margin-right: 4rem;
    margin-top: 3rem;
  }
  &__discount {
    position: absolute;
    font-size: 2.2rem;
    font-weight: 500;
    top: -3rem;
    right: -3rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: $accent;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include breakpoint(1050px) {
    flex-grow: 4;
  }
}
