*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
}

main {
  display: block;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

img {
  border-style: none;
}

button,
input {
  overflow: visible;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-size: 1.6rem;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body.no-scroll,
body.show-sidebar {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__title {
  font-weight: bold;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.header {
  width: 100%;
  border-bottom: 2px solid #e2e3e2;
}

.header-block {
  width: 100%;
  height: 8.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block__item:not(:last-child) {
  margin-right: 1.5rem;
}

.header-block__logo img {
  max-width: 85px;
}

.overlay-block {
  position: fixed;
  background-color: rgba(228, 224, 215, 0.9);
  top: -5rem;
  width: 100%;
  display: block;
  z-index: 100;
  color: #fff;
  transition: top 0.3s ease-in;
  overflow: hidden;
  display: none;
}

.overlay-nav {
  height: 5rem;
}

.overlay-nav__list {
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.overlay-nav__link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #3e3938;
  font-weight: bold;
  display: block;
  transition: color 0.3s;
}

.overlay-nav__link:hover {
  color: #b2aba9;
  text-decoration: none;
}

.overlay-active {
  top: 0;
}

.search {
  position: relative;
}

.search__button {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  right: 3px;
  opacity: 0.5;
  cursor: pointer;
}

.search__button:hover {
  opacity: 1;
}

.search__input {
  padding: 0.5rem 2rem 0.5rem 1.2rem;
}

.nav__list {
  display: flex;
}

.nav__item {
  display: inline-block;
  position: relative;
}

.nav__item:after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  height: 1px;
  width: 100%;
  opacity: 0;
  background-color: #a1251e;
  transition: bottom 0.25s, height 0.25s, opacity 0.25s;
}

.nav__item.active:after,
.nav__item:hover:after {
  bottom: 0;
  height: 1px;
  opacity: 1;
}

.nav__link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none !important;
}

.nav__link:hover {
  color: #a1251e;
}

.cart {
  margin: 8rem 0;
  overflow: hidden;
}

.cart__block {
  display: flex;
}

.cart__top {
  order: 2;
  flex-basis: 50%;
  background-color: #f5f3ee;
  padding: 4rem;
  align-self: start;
  margin-bottom: 2rem;
}

.cart__button {
  margin-top: 2rem;
}

.cart__total-price {
  display: flex;
  flex-wrap: wrap;
}

.cart__total-price li {
  flex-basis: 60%;
  display: block;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.cart__total-price li:nth-child(even) {
  flex-basis: 40%;
  font-weight: 500;
}

.cart__total-price li:nth-child(n + 7) {
  font-weight: 500;
  font-size: 2rem;
  margin: 3rem 0;
}

.cart__total-price li:nth-child(-n + 2) {
  margin-bottom: 3rem;
}

.cart__list {
  order: 1;
  flex-basis: 50%;
  margin-right: 3rem;
}

.my-cart__item {
  padding: 2rem;
  border: 1px solid #b2aba9;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.my-cart__item:not(:last-child) {
  margin-bottom: 2rem;
}

.my-cart__item:before {
  content: '\2715';
  position: absolute;
  top: 5px;
  right: 10px;
  color: #b2aba9;
  cursor: pointer;
}

.my-cart__description {
  max-width: 25rem;
  margin: auto 0;
}

.my-cart__description * {
  margin-bottom: 1rem;
}

.my-cart__title {
  font-size: 1.8rem;
  font-weight: 500;
}

.my-cart__image {
  max-width: 13.5rem;
  margin-right: 2rem;
}

.my-cart__options {
  display: flex;
  flex-wrap: wrap;
}

.my-cart__options li {
  display: block;
  max-width: 50%;
  width: 100%;
}

.my-cart__options li:nth-child(odd) {
  font-weight: 500;
}

.production {
  position: relative;
  background-color: #dcd;
  background-image: url("../images/front-page/front-bg-image.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin-bottom: 9rem;
}

.production__title {
  font-size: 4.4rem;
  color: #000000;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.production__description {
  padding: 16rem 0;
  max-width: 57rem;
  color: #000000;
}

.production__title {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.5rem;
  text-align: left;
}

.production__text {
  font-size: 1.6rem;
  margin-bottom: 4.5rem;
}

.advantage {
  margin-bottom: 9rem;
}

.advantage__list {
  display: flex;
  justify-content: space-between;
}

.advantage__icon {
  height: 54px;
  width: auto;
  margin-right: 1rem;
}

.advantage__description {
  text-align: left;
}

.advantage__title {
  font-size: 1.4rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.advantage__text {
  line-height: 1.3;
}

.advantage__item {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 2rem;
  margin: 2rem 0;
}

.advantage__item:last-child {
  padding-right: 0;
}

.uniform {
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 7rem;
}

.uniform__title {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
}

.uniform__block {
  display: flex;
  overflow: hidden;
}

.inside-block {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 2rem;
}

.inside-block__title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}

.inside-block__price {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.inside-block__text {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.inside-block__text--top {
  font-weight: 500;
  font-size: 1.6rem;
}

.blouse {
  position: relative;
  margin-right: 3rem;
  flex-basis: 47rem;
  height: 71.5rem;
  background-image: url("../images/uniform/blouse.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.blouse__description {
  position: absolute;
  top: 30%;
  right: 10%;
  max-width: 11rem;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.6rem;
}

.pants-whole {
  height: 71.5rem;
  flex-basis: 67rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pants {
  flex-grow: 4;
  position: relative;
  margin-bottom: 30px;
  background-image: url("../images/uniform/pants.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.pants__inside {
  max-width: 30rem;
}

.whole-works {
  flex-grow: 3;
  width: 100%;
  background-image: url("../images/uniform/whole-works.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.whole-works__inside-block {
  max-width: 40rem;
  margin-right: 4rem;
  margin-top: 3rem;
}

.whole-works__discount {
  position: absolute;
  font-size: 2.2rem;
  font-weight: 500;
  top: -3rem;
  right: -3rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #a1251e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.production-card {
  max-width: 27rem;
  position: relative;
  z-index: 10;
}

.production-card__link {
  width: 100%;
  display: block;
}

.production-card__image {
  width: 100%;
}

.production-card__title {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.production-card__price {
  margin-top: 0.5rem;
  font-weight: 500;
}

.production-card__description {
  line-height: 1.3;
}

.production-card__wrapper {
  position: absolute;
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
  border: 1px solid #b2aba9;
  z-index: -10;
  opacity: 0;
  background-color: #fff;
}

.production-card__size {
  position: absolute;
  bottom: -43px;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  font-size: 1.2rem;
  overflow: hidden;
}

.production-card__size button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.production-card__size button img {
  max-width: 2.6rem;
}

.production-card:hover .production-card__wrapper {
  opacity: 1;
  bottom: -55px;
}

.production-card:hover .production-card__size {
  opacity: 1;
  height: 40px;
}

.strikethrough-text__old-price {
  display: inline-block;
  position: relative;
}

.strikethrough-text__old-price:after {
  content: '';
  background-image: url("../images/strikethrough-text/line-241.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  z-index: 100;
}

.strikethrough-text__new-price {
  font-size: 1.8rem;
  color: #a1251e;
  font-weight: 500;
}

.production-list {
  margin-bottom: 9rem;
}

.production-list__top-title {
  margin-bottom: 6rem;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.production-list__block {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  grid-gap: 3rem;
}

.production-list__item {
  z-index: 0;
}

.production-list__item:hover {
  z-index: 10;
}

.production-list__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.footer {
  background-color: #e2e3e2;
  margin-top: auto;
  overflow: hidden;
}

.footer__container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  max-width: 9.5rem;
  max-height: 5.7rem;
}

.footer__title {
  display: block;
  margin-bottom: 1rem;
}

.footer__link {
  display: block;
  color: #000000;
}

.footer__button {
  margin-bottom: 1rem;
}

.footer__nav,
.footer__address,
.footer__telephone,
.footer__payment {
  margin-right: 2rem;
}

.stock {
  margin-bottom: 8rem;
}

.stock__discount {
  background-color: #d06953;
  color: #fff;
  padding: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.stock__breadcrumb {
  margin-bottom: 2rem;
}

.catalog__title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
}

.catalog__block {
  display: flex;
  border-top: 1px solid #e2e3e2;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 230px));
  grid-template-rows: 1fr;
  grid-gap: 3rem;
  padding: 3rem 0 0 5rem;
}

.catalog__item {
  z-index: 0;
  margin-right: 0;
}

.catalog__item:hover {
  z-index: 10;
}

.clothess,
.colors,
.new-items,
.shares {
  padding: 2rem 2rem 2rem 0;
  border-bottom: 1px solid #e2e3e2;
  border-right: 1px solid #e2e3e2;
}

.clothess__title,
.colors__title,
.new-items__title,
.shares__title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.clothess__link,
.colors__link,
.new-items__link,
.shares__link {
  color: #000000;
}

.size {
  padding: 2rem 2rem 2rem 0;
  border-bottom: 1px solid #e2e3e2;
  border-right: 1px solid #e2e3e2;
}

.size__title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.size__list {
  display: grid;
  grid-template-columns: repeat(2, 3.2rem);
  grid-gap: 1rem;
}

.size__number {
  display: none;
}

.size__number + label {
  border: 1px solid #b2aba9;
  padding: 0 0.7rem;
  color: #000000;
  font-size: 1.4rem;
  cursor: pointer;
}

.size__number:checked + label {
  background-color: grey;
  color: #fff;
}

.stylish-uniform {
  display: flex;
  margin-top: 15rem;
  margin-bottom: 9rem;
}

.for-girls {
  margin-right: 3rem;
  flex-basis: 47rem;
}

.for-girls__title {
  font-weight: bold;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.for-girls__text {
  margin: 3rem 0;
  font-size: 1.4rem;
  color: #000000;
}

.for-girls__image {
  width: 100%;
}

.stylish {
  position: relative;
  flex-basis: 67rem;
}

.stylish:after {
  content: '';
  position: absolute;
  top: -4rem;
  right: -4rem;
  bottom: 35%;
  left: -20rem;
  background-color: #f5f3ee;
  z-index: -10;
}

.stylish__title {
  font-weight: bold;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.stylish__text {
  margin: 3rem 0;
  font-size: 1.4rem;
  color: #000000;
}

.stylish__info {
  padding: 7rem 0;
}

.stylish__image {
  margin-top: 6rem;
  width: 100%;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 5rem;
}

.breadcrumb {
  display: flex;
}

.breadcrumb__item {
  margin-right: 2rem;
  position: relative;
  color: #000000;
  font-size: 1.4rem;
}

.breadcrumb__item.active {
  color: #e2e3e2;
}

.breadcrumb__item:not(:last-child):before {
  content: '\002F';
  position: absolute;
  right: -1.3rem;
}

.breadcrumb__link {
  color: inherit;
}

.tailoring-to-order {
  position: relative;
  margin-bottom: 15rem;
  margin-top: 8rem;
}

.tailoring-to-order__sewing {
  width: 100%;
}

.tailoring-to-order__image {
  max-width: 70rem;
  width: 100%;
  height: 100%;
}

.tailoring-to-order__description {
  position: absolute;
  right: 0;
  bottom: -5.5rem;
  max-width: 68rem;
  max-height: 37rem;
  background-color: #f5f3ee;
  padding: 7rem;
}

.btn {
  background-color: #a1251e;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  max-width: 30rem;
  padding: 1.2rem 3rem;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.btn:hover {
  background-color: #761b16;
}

.description__title {
  font-size: 1.8rem;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: bold;
}

.description__text {
  font-size: 1.4rem;
  color: #000000;
  margin-bottom: 2rem;
}

.method-of-work__title {
  margin-bottom: 3rem;
}

.method-of-work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.method-of-work__item {
  background-color: #fff;
  flex-basis: 18%;
  position: relative;
  box-shadow: 0px 7px 24px 0px rgba(75, 64, 64, 0.2);
  padding: 2rem;
  margin-top: 9rem;
  margin-right: 8.5rem;
}

.method-of-work__item:nth-child(4),
.method-of-work__item:last-child {
  margin-right: 0;
}

.method-of-work__item:nth-child(-n + 3):before,
.method-of-work__item:nth-child(n + 5):nth-child(-n + 6):before {
  content: '\276F';
  position: absolute;
  right: -4.25rem;
  bottom: 50%;
  transform: translateY(50%);
  color: #c5c5c5;
  font-size: 1.8rem;
}

.method-of-work__icon {
  max-width: 6.5rem;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 4px 22px 0px rgba(208, 105, 83, 0.3);
}

.method-of-work__text {
  margin-top: 5rem;
  text-align: center;
  line-height: 1.2;
}

.method-of-work__description {
  max-width: 54rem;
  text-align: center;
  margin: 6rem auto;
}

.requestion-form {
  background-color: #f5f3ee;
  padding: 8rem 0;
}

.requestion-form__block {
  padding: 8rem;
  margin: 0 auto;
  max-width: 77rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 34px 0px rgba(75, 64, 64, 0.3);
}

.requestion-form__input,
.requestion-form__textarea {
  margin-bottom: 1.7rem;
  padding: 1rem 1.2rem;
}

.form {
  max-width: 37rem;
  width: 100%;
  margin: 0 auto;
}

.form__control {
  width: 100%;
  font-family: inherit;
  font-size: 1.4rem;
  color: #000000;
  background-color: transparent;
  border: 1px solid #b2aba9;
  outline: none;
}

.form__control::-moz-placeholder {
  color: rgba(178, 171, 169, 0.6);
}

.form__control:-ms-input-placeholder {
  color: rgba(178, 171, 169, 0.6);
}

.form__control::placeholder {
  color: rgba(178, 171, 169, 0.6);
}

.form__control--textarea {
  resize: none;
  overflow: hidden;
  height: 12rem;
}

.form__control:focus {
  border: 1px solid #6489e7;
  box-shadow: 0px 0px 10px 2px rgba(100, 137, 231, 0.1), 0px 0px 5px 2px rgba(100, 137, 231, 0.1) inset;
}

.count__number,
.count__button {
  border: 1px solid #b2aba9;
  float: left;
}

.count__number {
  width: 30px;
  outline: none;
}

.count__button {
  height: 20px;
  width: 20px;
  position: relative;
}

.count__button:before {
  content: '\276E';
  position: absolute;
  color: #b2aba9;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
}

.count__button:last-child {
  transform: rotate(180deg);
}

.count__number {
  padding: 0 1rem;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  height: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.pagination__item {
  margin: 0 0.5rem;
}

.pagination__link {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #b2aba9;
  font-size: 1.6rem;
  color: #b2aba9;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  transition: background-color 0.2s ease-in;
}

.pagination__link:hover {
  background-color: #b2aba9;
  color: #fff;
  text-decoration: none;
}

.pagination__link.active {
  background-color: #b2aba9;
  color: #fff;
}

.product {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.product__breadcrumb {
  margin-top: 4rem;
}

.slider-block {
  flex: 0 0 520px;
  display: flex;
  float: left;
  margin-right: 3rem;
}

.product-info {
  overflow: hidden;
  flex: 0 1 610px;
  max-width: 500px;
}

.product-info__title {
  font-size: 2.6rem;
  color: #000000;
  font-weight: 500;
  margin-bottom: 3rem;
}

.product-info__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  width: 100%;
}

.product-info__list > li {
  display: block;
  margin-bottom: 3rem;
}

.product-info__list > li:nth-child(odd) {
  max-width: 30%;
  width: 100%;
  font-weight: 500;
}

.product-info__list > li:nth-child(even) {
  font-weight: 500;
  max-width: 70%;
  width: 100%;
}

.product-info__description {
  margin-top: 3rem;
  max-width: 47rem;
}

.product-info__description > span {
  display: block;
  font-weight: 500;
  margin-bottom: 1rem;
}

.product-info__size {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33px);
  grid-gap: 1rem;
}

.star-rating {
  margin-right: 1rem;
}

.star-rating__item {
  float: left;
}

.star-rating__item:before {
  content: '\2605';
  font-size: 2.2rem;
  color: #d06853;
}

.slider {
  width: 10rem;
  overflow: hidden;
  height: 66rem;
  margin-right: 2rem;
  position: relative;
}

.slider__item {
  margin-bottom: 1.5rem;
  max-width: 10rem;
  width: 100%;
}

.slider__image {
  width: 100%;
}

.slider .prev {
  position: absolute;
  left: 0rem;
  top: 50%;
  transform: translateY(-50%);
  height: 28px;
  width: 23px;
  cursor: pointer;
}

.slider .next {
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
  height: 28px;
  width: 23px;
  cursor: pointer;
}

.slider .slick-slide {
  position: relative;
  outline: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.slider .slick-track {
  width: 100%;
}

.slider .slick-dots {
  display: none;
}

.sliderbig {
  width: 44rem;
  overflow: hidden;
  height: 67.3rem;
}

.sliderbig__image {
  padding: 0;
  width: 44rem;
  cursor: -webkit-grab;
  cursor: grab;
}

.sliderbig .slick-track {
  display: flex;
  align-items: center;
  max-width: 45rem;
}

.sliderbig .slick-list {
  width: 100%;
  height: 100%;
}

.sliderbig .slick-slide {
  outline: none;
  margin: 0 1rem;
}

.burger {
  display: none;
  height: 28px;
  width: 28px;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.burger:hover {
  opacity: 0.6;
}

.burger span {
  width: 100%;
  border-radius: 3px;
  height: 3px;
  background-color: #000;
  position: absolute;
}

.burger span:nth-child(1) {
  top: 20%;
}

.burger span:nth-child(2) {
  top: 50%;
}

.burger span:nth-child(3) {
  top: 80%;
}

.burger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.burger.active span:nth-child(2) {
  display: none;
}

.burger.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.cart-button {
  height: 34px;
  position: relative;
  transition: 0.3s;
  border-radius: 40px;
  background-color: transparent;
  padding: 0 13px;
  color: #000000;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.cart-button:hover {
  background-color: #e2e3e2;
}

.cart-button__icon {
  width: 20px;
  height: 24px;
  margin-right: 10px;
}

.cart-button__count {
  position: absolute;
  line-height: 1.3;
  top: 7px;
  left: 7px;
  font-size: 10px;
  height: 13px;
  width: 13px;
  color: #fff;
  background-color: #a1251e;
  border-radius: 50%;
  text-align: center;
}

.cart-button__total-price {
  font-weight: bold;
}

.review {
  margin-bottom: 9rem;
}

.review__title {
  font-size: 2.6rem;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.review-slider {
  min-width: 0;
  border-top: 2px solid #b2aba9;
  border-bottom: 2px solid #b2aba9;
  padding: 2rem 0;
  overflow: hidden;
  margin-bottom: 3rem;
}

.review-slider__item {
  cursor: pointer;
  outline: none;
}

.review-slider__review {
  display: flex;
  align-items: center;
}

.review-slider__name {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 1rem;
}

.review-slider__date {
  color: #b2aba9;
}

.review-slider__top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.review-slider__image {
  margin: 0 2rem;
  max-width: 9rem;
  width: 100%;
}

.review-slider__text {
  line-height: 1.3;
  font-size: 1.4rem;
}

.review-slider .slick-track {
  display: flex;
  align-items: center;
}

.review-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.review-slider .slick-dots > li button {
  font-size: 0;
}

.review-slider .slick-dots > li button:before {
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
  background-color: #b2aba9;
  margin: 4px;
}

.review-slider .slick-dots .slick-active button:before {
  background-color: #e2e3e2;
}

.overlay-menu {
  overflow: hidden;
  z-index: 200;
  position: fixed;
  background-color: #e4e0d7;
  top: -100%;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: top 0.4s ease-in, opacity 0.3s ease-in;
  overflow: auto;
}

.overlay-menu #burgerMenu {
  display: block;
  margin-bottom: 4rem;
  margin: 2rem auto 4rem;
}

.overlay-menu__close {
  height: 60px;
  width: 60px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.overlay-menu__search {
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}

.overlay-menu__nav {
  margin-bottom: 3rem;
}

.overlay-menu__nav-block {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.overlay-menu__item {
  margin-bottom: 3rem;
}

.overlay-menu__link {
  font-size: 2rem;
  white-space: nowrap;
}

.active {
  top: 0;
  opacity: 1;
}

.contacts {
  margin-top: 2rem;
  margin-bottom: 20rem;
  height: 49rem;
  background-image: url("../images/contacts/contacts-bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.contacts__block {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 6rem;
  max-width: 83rem;
  position: absolute;
  top: 10rem;
  left: 15%;
  right: 15%;
  overflow: hidden;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__list {
  flex-basis: 27rem;
}

.contacts__item:not(:last-child) {
  margin-bottom: 2rem;
}

.contacts__link {
  color: #000000;
}

.contacts__icon {
  margin-right: 0.6rem;
}

.contacts__form {
  flex-basis: 27rem;
}

@media (max-width: 1090px) {
  .advantage__icon {
    margin-bottom: 1rem;
  }

  .advantage__description {
    text-align: center;
  }

  .advantage__item {
    flex-direction: column;
  }
}

@media (max-width: 1050px) {
  .blouse {
    flex-basis: 57rem;
    height: 51.5rem;
  }

  .pants-whole {
    flex-basis: 57rem;
    height: 51.5rem;
  }

  .pants {
    flex-grow: 4;
  }

  .whole-works {
    flex-grow: 4;
  }
}

@media (max-width: 1030px) {
  .method-of-work__item {
    flex-basis: 25%;
    margin-top: 8rem;
  }

  .method-of-work__item:nth-child(3) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(3):before {
    opacity: 0;
  }

  .method-of-work__item:nth-child(4) {
    margin-right: 8.5rem;
  }

  .method-of-work__item:nth-child(4):before {
    content: '\276F';
    position: absolute;
    right: -4.25rem;
    bottom: 50%;
    transform: translateY(50%);
    color: #c5c5c5;
    font-size: 1.8rem;
  }

  .method-of-work__item:nth-child(6) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(6):before {
    opacity: 0;
  }

  .slider-block {
    flex: 0 0 450px;
  }

  .product-info__list > li {
    margin-bottom: 1.5rem;
  }

  .product-info__description {
    margin-top: 2rem;
  }

  .product-info__description > span {
    margin-bottom: 0;
  }

  .slider {
    height: 49.1rem;
  }

  .sliderbig {
    width: 32rem;
    height: 49.1rem;
  }

  .sliderbig__image {
    width: 33rem;
  }
}

@media (max-width: 1030px) and (max-width: 815px) {
  .method-of-work__item:nth-child(4):before {
    right: -2.8rem;
  }
}

@media (max-width: 1030px) and (max-width: 550px) {
  .method-of-work__item:nth-child(4):before {
    right: 49%;
    transform: rotate(90deg) translate(50%, 0);
    bottom: -2.8rem;
  }
}

@media (max-width: 1022px) {
  .header-block__nav {
    display: none;
  }

  .header-block #burgerToggle {
    display: block;
  }

  .header-block__search {
    display: none;
  }
}

@media (max-width: 991px) {
  .overlay-block {
    display: block;
    width: 100px;
    right: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .overlay-nav__list {
    display: none;
  }

  .overlay-nav #burgerNav {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -53%);
  }

  .overlay-nav #burgerNav span {
    background: #595250;
  }

  .overlay-active {
    top: 10px;
  }

  .cart__block {
    flex-direction: column;
  }

  .cart__top {
    order: 1;
    width: 100%;
  }

  .cart__total-price li {
    flex-basis: 30%;
  }

  .cart__total-price li:nth-child(-n + 2) {
    margin-bottom: 0;
  }

  .cart__total-price li:nth-child(even) {
    flex-basis: 20%;
  }

  .cart__total-price li:nth-child(n + 7) {
    margin: 0;
  }

  .cart__list {
    order: 2;
    margin-right: 0;
  }

  .my-cart__item {
    max-width: 55rem;
  }

  .contacts__block {
    right: 3rem;
    left: 3rem;
  }
}

@media (max-width: 990px) {
  .catalog__list {
    grid-template-columns: repeat(3, minmax(150px, 230px));
  }
}

@media (max-width: 930px) {
  .product {
    flex-direction: column;
  }

  .slider-block {
    margin-bottom: 9rem;
    flex-direction: column;
    flex: 0 0 auto;
    margin-right: 0;
  }

  .product-info {
    flex: 0 0 auto;
  }

  .slider {
    order: 1;
    height: 10rem;
    max-width: 56rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .slider__item {
    max-width: 7rem;
    margin-left: auto;
    margin-right: auto;
  }

  .slider .slick-slide > div {
    display: flex;
    align-items: center;
  }

  .slider .slick-list {
    max-width: 50rem;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .slider .slick-track {
    display: flex;
  }

  .sliderbig {
    order: 0;
    height: 45rem;
    width: 30rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sliderbig__image {
    height: 45rem;
    width: auto;
  }
}

@media (max-width: 910px) {
  .uniform__block {
    flex-direction: column;
  }

  .blouse__description {
    top: 10%;
  }

  .blouse {
    width: 100%;
    margin-bottom: 3rem;
    flex-basis: 40rem;
  }

  .pants-whole {
    flex-direction: column;
    flex-basis: 61.5rem;
  }
}

@media (max-width: 890px) {
  .advantage__list {
    flex-wrap: wrap;
  }

  .advantage__description {
    text-align: left;
  }

  .advantage__item {
    flex-direction: row;
    flex-basis: 50%;
    justify-content: center;
    padding-right: 0;
  }

  .advantage__item:last-child {
    padding-right: 0;
  }
}

@media (max-width: 860px) {
  .production-list__block {
    margin: 0 1rem;
  }

  .production-list__block {
    grid-template-columns: repeat(2, minmax(100px, 300px));
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 3rem;
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
}

@media (max-width: 820px) {
  .footer__container {
    flex-wrap: wrap;
  }

  .footer__nav,
  .footer__address,
  .footer__telephone,
  .footer__payment {
    flex-basis: 50%;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .contacts__block {
    padding: 6rem 3rem;
  }
}

@media (max-width: 815px) {
  .method-of-work__item:nth-child(-n + 3):before,
  .method-of-work__item:nth-child(n + 5):nth-child(-n + 6):before {
    right: -2.8rem;
  }

  .method-of-work__item {
    margin-right: 5rem;
  }

  .method-of-work__item:nth-child(4) {
    margin-right: 5rem;
  }
}

@media (max-width: 810px) {
  .catalog__list {
    grid-template-columns: repeat(2, minmax(150px, 230px));
  }
}

@media (max-width: 796px) {
  .tailoring-to-order__description {
    right: 2rem;
    left: 2rem;
  }
}

@media (max-width: 768px) {
  .header-block__logo img {
    max-width: 65px;
  }

  .cart__top {
    padding: 4rem 2rem;
  }

  .production {
    margin-bottom: 4rem;
  }

  .production__description {
    padding: 7rem 0;
  }

  .production__title {
    font-size: 3.8rem;
  }

  .advantage {
    margin-bottom: 4rem;
  }

  .stylish-uniform {
    flex-direction: column;
  }

  .for-girls {
    order: 1;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
  }

  .for-girls__info {
    order: 0;
    margin-bottom: 3rem;
  }

  .for-girls__title {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .for-girls__text {
    margin: 1rem 0 2rem;
  }

  .for-girls__image {
    width: 80%;
    order: 1;
  }

  .stylish {
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
  }

  .stylish__title {
    margin-bottom: 1rem;
  }

  .stylish__text {
    margin: 1rem 0 2rem;
  }

  .stylish__info {
    padding: 0 0 4rem;
  }

  .stylish__image {
    width: 80%;
    margin-top: 0;
  }

  .container {
    padding: 0 1.5rem;
  }
}

@media (max-width: 720px) {
  .method-of-work__item {
    flex-basis: 45%;
    padding: 2rem 1rem;
  }

  .method-of-work__item:nth-child(3) {
    margin-right: 5rem;
  }

  .method-of-work__item:nth-child(3):before {
    opacity: 1;
  }

  .method-of-work__item:nth-child(2) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(2):before {
    opacity: 0;
  }

  .method-of-work__item:nth-child(4) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(4):before {
    opacity: 0;
  }

  .method-of-work__item:nth-child(6) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(6):before {
    opacity: 0;
  }
}

@media (max-width: 690px) {
  .contacts {
    margin-bottom: 30rem;
  }

  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contacts__list {
    flex-basis: auto;
    max-width: 37rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .contacts__form {
    flex-basis: auto;
  }
}

@media (max-width: 680px) {
  .cart__total-price li {
    white-space: normal;
    flex-basis: 40%;
  }

  .cart__total-price li:nth-child(even) {
    flex-basis: 60%;
  }
}

@media (max-width: 576px) {
  .page__title {
    margin-bottom: 3rem;
  }

  .cart {
    margin-top: 4rem;
  }

  .advantage {
    margin-bottom: 1rem;
  }

  .advantage__description {
    text-align: center;
  }

  .advantage__item {
    flex-direction: column;
  }

  .inside-block {
    right: 0;
    bottom: 0;
    left: 0;
  }

  .pants__inside {
    left: 0;
    bottom: 0;
    top: 0;
    max-width: 25rem;
  }

  .production-list__top-title {
    margin-bottom: 4rem;
  }

  .production-list {
    margin-bottom: 6rem;
  }

  .catalog__nav {
    border-right: none;
  }

  .catalog__block {
    flex-direction: column;
  }

  .catalog__list {
    padding: 3rem 1rem 0 1rem;
    margin: 0 auto;
  }

  .clothess,
  .colors,
  .new-items,
  .shares {
    padding-right: 0;
    border-right: 0;
  }

  .clothess__list,
  .colors__list,
  .new-items__list,
  .shares__list {
    display: flex;
    flex-wrap: wrap;
  }

  .clothess__item,
  .colors__item,
  .new-items__item,
  .shares__item {
    margin-right: 1rem;
  }

  .size {
    padding-right: 0;
    border-right: 0;
  }

  .size__list {
    grid-template-columns: repeat(auto-fill, 3.2rem);
  }

  .tailoring-to-order {
    margin-top: 4rem;
  }

  .tailoring-to-order__description {
    padding: 3rem 4rem;
  }

  .method-of-work__item {
    padding: 3rem 4rem;
  }

  .requestion-form__block {
    padding: 4rem 1rem;
  }

  .pagination {
    margin-top: 3rem;
  }

  .product__breadcrumb {
    margin-top: 2rem;
  }

  .product {
    margin-bottom: 6rem;
  }

  .review {
    margin-bottom: 6rem;
  }

  .overlay-menu__search {
    margin-bottom: 3rem;
  }

  .contacts__block {
    right: 0;
    left: 0;
  }
}

@media (max-width: 550px) {
  .method-of-work__item:nth-child(-n + 3):before,
  .method-of-work__item:nth-child(n + 5):nth-child(-n + 6):before {
    right: 49%;
    transform: rotate(90deg) translate(50%, 0);
    bottom: -2.8rem;
  }

  .method-of-work__item {
    flex-basis: 30rem;
    margin-top: 7rem;
    padding: 2rem 1rem;
    margin-right: 0;
  }

  .method-of-work__item:nth-child(even) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(even):before {
    content: '\276F';
    position: absolute;
    right: -4.25rem;
    bottom: 50%;
    transform: translateY(50%);
    color: #c5c5c5;
    font-size: 1.8rem;
  }

  .method-of-work__item:nth-child(2) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(2):before {
    opacity: 1;
  }

  .method-of-work__item:nth-child(3) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(3):before {
    opacity: 1;
  }

  .method-of-work__item:nth-child(4) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(4):before {
    opacity: 1;
  }

  .method-of-work__item:nth-child(6) {
    margin-right: 0;
  }

  .method-of-work__item:nth-child(6):before {
    opacity: 1;
  }
}

@media (max-width: 550px) and (max-width: 815px) {
  .method-of-work__item:nth-child(even):before {
    right: -2.8rem;
  }
}

@media (max-width: 550px) and (max-width: 550px) {
  .method-of-work__item:nth-child(even):before {
    right: 49%;
    transform: rotate(90deg) translate(50%, 0);
    bottom: -2.8rem;
  }
}

@media (max-width: 540px) {
  .footer__nav,
  .footer__address,
  .footer__telephone,
  .footer__payment {
    flex-basis: 100%;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .sliderbig {
    order: 0;
    height: 35rem;
    width: 23.3rem;
  }

  .sliderbig__image {
    height: 35rem;
    width: auto;
  }
}

@media (max-width: 510px) {
  .slider {
    order: 1;
    height: 10rem;
    max-width: 56rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 490px) {
  .cart__total-price li {
    flex-basis: 50%;
  }

  .cart__total-price li:nth-child(even) {
    flex-basis: 50%;
  }

  .cart__total-price li {
    flex-basis: 65%;
  }

  .cart__total-price li:nth-child(even) {
    flex-basis: 35%;
  }
}

@media (max-width: 480px) {
  .my-cart__item {
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
  }

  .my-cart__image {
    margin-bottom: 2rem;
  }
}

@media (max-width: 470px) {
  .production-list__block {
    grid-template-columns: minmax(100px, 300px);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    max-width: 30rem;
    margin: 0 auto;
  }

  .catalog__list {
    grid-template-columns: repeat(1, minmax(150px, 230px));
  }

  .review-slider__review {
    flex-direction: column;
    align-items: start;
  }

  .review-slider__image {
    order: 0;
    margin: 0;
    margin-bottom: 1rem;
  }

  .review-slider__text {
    order: 1;
  }
}

@media (max-width: 450px) {
  .advantage__description {
    text-align: left;
  }

  .advantage__item {
    flex-direction: column;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    margin: 1rem 0;
    padding-right: 0;
  }

  .tailoring-to-order__description {
    padding: 2rem;
    bottom: -10.5rem;
    right: 1rem;
    left: 1rem;
  }
}

@media (max-width: 400px) {
  .for-girls__image {
    width: 90%;
  }

  .stylish__image {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .tailoring-to-order {
    margin-bottom: 22rem;
  }

  .tailoring-to-order__description {
    padding: 2rem;
    bottom: -17.5rem;
  }
}