<footer class="footer">
  <div class="footer__container">
    <div class="footer__nav">
      <b class="footer__title">Меню</b>
      <ul>
        <li><a class="footer__link" href="stock.html">Девочкам</a></li>
        <li><a class="footer__link" href="#">Мальчикам</a></li>
        <li><a class="footer__link" href="tailoring-to-order.html">Пошив на заказ</a></li>
        <li><a class="footer__link" href="product.html">Новинки</a></li>
        <li><a class="footer__link" href="product.html">Акции</a></li>
      </ul>
    </div>
    <div class="footer__address">
      <b class="footer__title">Адрес</b>
      <p>Украина, г.Харьков, ул.</p>
      <p>Красина, д. 3а</p>
      <b class="footer__title">Почта</b>
      <a class="footer__link" href="#">iff.you.arestylish@gmail.com</a>
    </div>
    <div class="footer__telephone">
      <b>Телефон</b>
      <a class="footer__link" href="#">+063 435-00-36</a>
      <b class="footer__title">Часы работы</b>
      <p>Пн-Пт 9:00-20:00</p>
    </div>
    <div class="footer__payment">
      <button class="footer__button btn">Заказать звонок</button>
      <b class="footer__title">Принимаем к оплате</b>
      <img src="assets/images/payment/icon-54545.png" alt="payment" />
    </div>
  </div>
</footer>
