<header class="header">
  <div class="header__container container">
    <div class="header-block">
      <a class="header-block__logo" href="index.html">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <div class="header-block__nav">
        <nav class="nav">
          <ul class="nav__list">
            <li class="header-block__item nav__item">
              <a class="nav__link" href="stock.html">ДЕВОЧКАМ</a>
            </li>
            <li class="header-block__item nav__item">
              <a class="nav__link" href="tailoring-to-order.html">ПОШИВ НА ЗАКАЗ</a>
            </li>
            <li class="header-block__item nav__item">
              <a class="nav__link" href="product.html">НОВИНКИ</a>
            </li>
            <li class="header-block__item nav__item">
              <a class="nav__link" href="product.html">АКЦИИ</a>
            </li>
            <li class="header-block__item nav__item">
              <a class="nav__link" href="contacts.html">КОНТАКТЫ</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-block__search">
        <form class="search" action="search.html">
          <input class="form__control search__input" type="text" placeholder="Поиск" />
          <div class="search__button">
            <img src="assets/images/search/search.svg" alt="search" />
          </div>
        </form>
      </div>

      <div class="header-block__burger burger" id="burgerToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="header-block__cart">
        <a class="cart-button" href="cart.html">
          <img class="cart-button__icon" src="assets/images/cart/cart.png" alt="cart" />
          <div class="cart-button__count">2</div>
          <div class="cart-button__total-price">7 716р.</div>
        </a>
      </div>
    </div>
  </div>
</header>
