<div class="overlay-block">
  <div class="container">
    <nav class="overlay-nav">
      <ul class="overlay-nav__list">
        <li class="overlay-nav__item">
          <a class="overlay-nav__link" href="stock.html">ДЕВОЧКАМ</a>
        </li>
        <li class="overlay-nav__item">
          <a class="overlay-nav__link" href="tailoring-to-order.html">ПОШИВ НА ЗАКАЗ</a>
        </li>
        <li class="overlay-nav__item">
          <a class="overlay-nav__link" href="product.html">НОВИНКИ</a>
        </li>
        <li class="overlay-nav__item">
          <a class="overlay-nav__link" href="product.html">АКЦИИ</a>
        </li>
        <li class="overlay-nav__item"><a class="overlay-nav__link" href="#">КОНТАКТЫ</a></li>
      </ul>
      <div class="overlay-nav__burger burger" id="burgerNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</div>
