<div class="overlay-menu">
  <div class="container">
    <div class="overlay-menu__block">
      <div class="overlay-menu__burger burger active" id="burgerMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="overlay-menu__search">
        <form class="search" action="search.html">
          <input class="form__control search__input" type="text" placeholder="Поиск" />
          <div class="search__button">
            <img src="assets/images/search/search.svg" alt="search" />
          </div>
        </form>
      </div>
      <nav class="overlay-menu__nav nav">
        <ul class="overlay-menu__nav-block nav__list">
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="stock.html">ДЕВОЧКАМ</a>
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="tailoring-to-order.html"
              >ПОШИВ НА ЗАКАЗ</a
            >
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="product.html">НОВИНКИ</a>
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="product.html">АКЦИИ</a>
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="contacts.html">КОНТАКТЫ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
