<div class="overlay-menu">
  <div class="container">
    <div class="overlay-menu__block">
      <div class="overlay-menu__burger burger active" id="burgerMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="overlay-menu__nav nav">
        <ul class="overlay-menu__nav-block nav__list">
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="stock.html">ДЕВОЧКАМ</a>
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="tailoring-to-order.html"
              >ПОШИВ НА ЗАКАЗ</a
            >
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="product.html">НОВИНКИ</a>
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="product.html">АКЦИИ</a>
          </li>
          <li class="overlay-menu__item nav__item">
            <a class="overlay-menu__link nav__link" href="contacts.html">КОНТАКТЫ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
